body{
    background-color: rgb(236, 216, 226);
}
h1{
    color: black;
    
    background-color: bisque;
    text-align: center;
}
.container{
        width: 400px;
        margin: 0 auto;
        align-items: center;
      }

    }
h2{
    color: azure;
    background-color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
